@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #202225;
  padding: 0;
  margin: 0;
  max-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* INDEX */

/* NAVBAR */

.wrapper {
  @apply bg-[#04111d] px-[1.2rem] py-[0.2rem] flex justify-between items-center
}

.logoContainer {
  @apply mr-3 
}

/*
.logoText {
  @apply ml-[0.8rem] text-white font-semibold text-2xl mx-auto;
}
*/
.searchBar {
  @apply hidden sm:flex bg-[#363840] rounded-[0.8rem] hover:bg-[#4c505c] items-center  text-center 
}

.searchIcon {
  @apply text-[#8a939b] mx-3 font-bold text-lg;
}

.searchInput {
  @apply h-[2.6rem] w-full border-0 bg-transparent outline-0 ring-0 px-2 pl-0 text-[#e6e8eb] placeholder:text-[#8a939b];
}

.headerItems {
  @apply hidden sm:flex justify-end items-center
}

.headerItem {
  @apply text-white px-4 font-bold text-[#c8cacd] hover:text-white cursor-pointer 
}

.headerIcon {
  @apply text-[#8a939b] text-3xl font-black px-4 hover:text-white cursor-pointer;
}
/*
.mobileMenu {
  @apply hidden md:flex items-center space-x-1
}

.mobileItems {
  @apply hidden py-2 px-4
}
*/
/* HERO */

.heroWrapper {
  @apply relative
}

.bgContainer {
  @apply before:content-[''] before:bg-red-500 before:absolute before:top-0 before:left-0 before:right-0 before:bottom-0 before:bg-[url('https://pbs.twimg.com/media/FHo7-W8VcAEnsNh?format=jpg&name=medium')] before:bg-cover before:bg-center before:opacity-30 before:blur
}


.contentWrapper {
  @apply flex h-screen relative justify-center flex-wrap items-center
}

/*
.contentWrapper {
  @apply container flex flex-col-reverse lg:flex-row items-center gap-12 mt-14 lg:mt-28 relative
}
*/

.copyContainer {
  @apply w-1/2 
}

/*
.copyContainer {
  @apply flex flex-1 flex-col items-center lg:items-start 
}
*/
/*
.title {
  @apply relative text-white text-[46px] font-semibold
}
*/

/*  
.description {
    @apply text-[#8a939b] container-[400px] text-2xl mt-[0.8rem] mb-[2.5rem]
} 
*/
.ctaContainer {
  @apply flex 
}

.accentedButton {
  @apply relative text-lg font-semibold px-12 py-4 bg-[#2181e2] rounded-lg mr-5 text-white hover:bg-[#42a0ff] cursor-pointer mb-3;
}

.button {
  @apply relative text-lg font-semibold px-12 py-4 bg-[#363840] rounded-lg mr-5 text-[#e4e8ea] hover:bg-[#4c505c] cursor-pointer mb-3;
}

.cardContainer {
  @apply rounded-[3rem]
}

.infoContainer {
  @apply h-20 bg-[#313338] p-4 rounded-b-lg flex items-center text-white;
}

.author {
  @apply flex flex-col justify-center ml-4;
}
/*  
.name {
    @apply ``
}
*/
/*  
.infoIcon {
    @apply flex justify-end items-center flex-1 text-[#8a939b] text-3xl font-bold
}
*/

.footerContainer {
  @apply bg-[#04111d] py-[0.2rem] items-center justify-center w-full relative
}

.social {
  @apply items-center px-[1.2rem] pt-[0.4rem] text-center block 
}

.socialItem {
  @apply  text-white hover:text-[#42a0ff] cursor-pointer px-[1.2rem]
}

.list {
  @apply flex py-[0.4rem] text-center justify-center 
}

.listItem {
  @apply  text-white hover:text-[#42a0ff] cursor-pointer px-[1.2rem]
}

.copyright {
  @apply text-[#8a939b] text-center block mb-[0.4rem]
}

/* COLLECTIONS */

.bannerImageContainer {
  @apply h-[20vh] w-screen overflow-hidden flex justify-center items-center
} 

.bannerImage {
  @apply w-full object-cover
}

.collectionInfoContainer {
  @apply w-screen px-4
}

.midRow {
  @apply w-full flex justify-center text-white
}

.endRow {
  @apply w-full flex justify-end text-white
}

.profileImg {
  @apply w-40 h-40 object-cover rounded-full border-2 border-[#202225] mt-[-4rem]
}

.socialIconsContainer {
  @apply flex text-3xl mb-[-2rem]
}

.socialIconsWrapper {
  @apply w-44 
}

.socialIconsContent {
  @apply flex container justify-between text-[1.4rem] border-2 rounded-lg px-2
}

.socialIcon {
  @apply my-2
}

.divider {
  @apply border-r-2
} 

.collectionTitle {
  @apply text-5xl font-bold mb-4
}

.createdBy {
  @apply text-lg mb-4
}

.statsContainer {
  @apply w-[44vw] flex justify-between py-4 border border-[#151b22] rounded-xl mb-4 items-center
}

.collectionStat {
  @apply w-1/4
}

.statValue {
  @apply text-3xl font-bold w-full flex items-center justify-center
}

.ethLogo {
  @apply h-6 mr-2
}

.statName {
  @apply text-lg w-full text-center mt-1
}




